In [1]:
import pandas as pd
import numpy
from sklearn import preprocessing

In [2]:
df = pd.read_csv('Resources\great_lakes_1.csv')
df.head()

,region,price,type,sqfeet,beds,baths,pets_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long
0,bloomington-normal,850,apartment,1100,2,1,1,1,0,0,0,w/d hookups,street parking,40.4785,-88.9503
1,bloomington-normal,625,apartment,900,2,1,1,1,0,0,0,laundry on site,off-street parking,40.4783,-88.9489
2,chicago,2910,apartment,1500,3,2,1,0,0,0,0,w/d in unit,street parking,41.8962,-87.6685
3,chicago,2085,loft,662,0,1,1,0,1,0,0,w/d in unit,attached garage,41.8971,-87.6223
4,chicago,840,apartment,700,1,1,1,0,0,0,0,laundry in bldg,off-street parking,41.9268,-88.0687

In [3]:
df = df.drop(['lat','long'],axis=1)
df.head()

,region,price,type,sqfeet,beds,baths,pets_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options
0,bloomington-normal,850,apartment,1100,2,1,1,1,0,0,0,w/d hookups,street parking
1,bloomington-normal,625,apartment,900,2,1,1,1,0,0,0,laundry on site,off-street parking
2,chicago,2910,apartment,1500,3,2,1,0,0,0,0,w/d in unit,street parking
3,chicago,2085,loft,662,0,1,1,0,1,0,0,w/d in unit,attached garage
4,chicago,840,apartment,700,1,1,1,0,0,0,0,laundry in bldg,off-street parking

In [4]:
df.columns
category_columns = ['region','laundry_options','parking_options','type']
labelencoder = preprocessing.LabelEncoder()

mapping_dict = {}
for col in category_columns:
    df[col] = labelencoder.fit_transform(df[col])

    le_mapping = dict(zip(labelencoder.classes_,labelencoder.transform(labelencoder.classes_)))

    mapping_dict[col] = le_mapping

print(mapping_dict)

{'region': {'akron / canton': 0, 'albany': 1, 'altoona-johnstown': 2, 'ann arbor': 3, 'appleton-oshkosh-FDL': 4, 'ashtabula': 5, 'athens': 6, 'battle creek': 7, 'bemidji': 8, 'binghamton': 9, 'bloomington': 10, 'bloomington-normal': 11, 'brainerd': 12, 'buffalo': 13, 'catskills': 14, 'central michigan': 15, 'champaign urbana': 16, 'chautauqua': 17, 'chicago': 18, 'chillicothe': 19, 'cincinnati': 20, 'cleveland': 21, 'columbus': 22, 'dayton / springfield': 23, 'decatur': 24, 'detroit metro': 25, 'duluth / superior': 26, 'eau claire': 27, 'elmira-corning': 28, 'erie': 29, 'evansville': 30, 'fargo / moorhead': 31, 'finger lakes': 32, 'flint': 33, 'fort wayne': 34, 'glens falls': 35, 'grand rapids': 36, 'green bay': 37, 'harrisburg': 38, 'holland': 39, 'hudson valley': 40, 'indianapolis': 41, 'ithaca': 42, 'jackson': 43, 'janesville': 44, 'kalamazoo': 45, 'kenosha-racine': 46, 'kokomo': 47, 'la crosse': 48, 'la salle co': 49, 'lafayette / west lafayette': 50, 'lancaster': 51, 'lansing': 52, 'lehigh valley': 53, 'lima / findlay': 54, 'long island': 55, 'madison': 56, 'mankato': 57, 'mansfield': 58, 'mattoon-charleston': 59, 'meadville': 60, 'milwaukee': 61, 'minneapolis / st paul': 62, 'monroe': 63, 'muncie / anderson': 64, 'muskegon': 65, 'new york city': 66, 'northern WI': 67, 'northern michigan': 68, 'northern panhandle': 69, 'oneonta': 70, 'parkersburg-marietta': 71, 'peoria': 72, 'philadelphia': 73, 'pittsburgh': 74, 'plattsburgh-adirondacks': 75, 'poconos': 76, 'port huron': 77, 'potsdam-canton-massena': 78, 'quad cities, IA/IL': 79, 'reading': 80, 'richmond': 81, 'rochester': 82, 'rockford': 83, 'saginaw-midland-baycity': 84, 'sandusky': 85, 'scranton / wilkes-barre': 86, 'sheboygan': 87, 'south bend / michiana': 88, 'southern illinois': 89, 'southwest MN': 90, 'southwest michigan': 91, 'springfield': 92, 'st cloud': 93, 'st louis, MO': 94, 'state college': 95, 'syracuse': 96, 'terre haute': 97, 'the thumb': 98, 'toledo': 99, 'tuscarawas co': 100, 'twin tiers NY/PA': 101, 'upper peninsula': 102, 'utica-rome-oneida': 103, 'watertown': 104, 'wausau': 105, 'western IL': 106, 'williamsport': 107, 'york': 108, 'youngstown': 109, 'zanesville / cambridge': 110}, 'laundry_options': {'laundry in bldg': 0, 'laundry on site': 1, 'no laundry on site': 2, 'w/d hookups': 3, 'w/d in unit': 4}, 'parking_options': {'attached garage': 0, 'carport': 1, 'detached garage': 2, 'no parking': 3, 'off-street parking': 4, 'street parking': 5, 'valet parking': 6}, 'type': {'apartment': 0, 'condo': 1, 'cottage/cabin': 2, 'duplex': 3, 'flat': 4, 'house': 5, 'in-law': 6, 'loft': 7, 'manufactured': 8, 'townhouse': 9}}

In [5]:
df.head()

,region,price,type,sqfeet,beds,baths,pets_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options
0,11,850,0,1100,2,1,1,1,0,0,0,3,5
1,11,625,0,900,2,1,1,1,0,0,0,1,4
2,18,2910,0,1500,3,2,1,0,0,0,0,4,5
3,18,2085,7,662,0,1,1,0,1,0,0,4,0
4,18,840,0,700,1,1,1,0,0,0,0,0,4

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

In [7]:
X = df.drop('price',axis=1)
y = df['price']

In [8]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
           X_scaled, y, test_size = 0.3, random_state = 100)

In [10]:
RFR = RandomForestRegressor(n_estimators=90)
RFR.fit(X_train,y_train)
y_pred = RFR.predict(X_test)

In [11]:
from sklearn import metrics
import numpy as np
print('R^2:',metrics.r2_score(y_test, y_pred))
print('Adjusted R^2:',1 - (1-metrics.r2_score(y_test, y_pred))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1))
print('MAE:',metrics.mean_absolute_error(y_test, y_pred))
print('MSE:',metrics.mean_squared_error(y_test, y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

R^2: 0.7576559638590471
Adjusted R^2: 0.7575753325774409
MAE: 103.79979841076083
MSE: 53783.80365003069
RMSE: 231.9133537552995

In [ ]:
import pickle
filename = 'model.pkl'
pickle.dump(RFR,open(filename,'wb'))